{% extends "base.html" %}
{% block content %}

<h2>Journal des actions</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Utilisateur</th>
            <th>Action</th>
            <th>Cible</th>
            <th>ID cible</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.user.username }}</td>
            <td>{{ log.action }}</td>
            <td>{{ log.cible_type }}</td>
            <td>{{ log.cible_id }}</td>
            <td>{{ log.timestamp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
